<launch>

  <arg name="agx_robot_prefix" value="scout_1"/>


  <!-- launch the free fleet client first -->
  <node name="$(arg agx_robot_prefix)_fleet_client_node" 
      pkg="agx_fleet_client_ros1"
      type="agx_fleet_client_ros1" output="screen">
    <param name="fleet_name" type="string" value="agx_fleet"/>
    <param name="robot_name" type="string" value="$(arg agx_robot_prefix)"/>
    <param name="level_name" type="string" value="L1"/>
    <param name="dds_domain" type="int" value="42"/>
    <param name="max_dist_to_first_waypoint" type="double" value="10.0"/>
    <param name="battery_state_topic" value="battery_state"/>
    <param name="robot_frame" value="base_link_2d"/>
    <param name="map_frame" value="map_2d"/>
    <param name="move_base_server_name" value="run_management/navi_task"/>
    <param name="if_use_path_command" value="false"/>
    <param name="L1_map_name" value="智园办公司"/>
    <param name="L2_map_name" value="222"/>

  </node>
</launch>
